# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

# Xcode build products
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# macOS
.DS_Store

# Temp/editor
*.swp
*.tmp